.multiselect {
  position: relative;

  .multiselect__list-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 20;
  }

  &_opened {
    .multiselect__list-wrapper {
      display: block;
    }
  }
}

.btn-colored {
  color: white;
  &_suv {
    background-color: #6725f5;
  }
  &_truck {
    background-color: #f3af50;
  }
  &_hybrid {
    background-color: #6ba250;
  }
}

.list-group-item:hover {
  text: white;
}

.multiselect__list-wrapper {
  width: 100%;
  max-height: 170px;
  overflow: auto;
}

.selected__list-wrapper {
  max-height: 170px;
  overflow: auto;
}
